body {
    margin: 0;
}
h3 {
    font-size: 48px;
    color:red;
}

.container {
    display: flex;
    justify-content: space-around;
    background:#19244b;
    color:white;
}

.score-board {
    width:200px;
    height:100px;
    background:black;
}

.container > div {
    display:flex;
    flex-direction:column;
    align-items:center;
}
button {
    padding:5px 20px;
    margin:20px 0;
}

.score-board {
    display:flex;
    align-items:center;
    justify-content:center;
    
}

.score-board span {
    font-size:32px;
    font-weight:bold;
}